@font-face 
{
    font-family: 'lato';
    src: url('Lato-Regular.ttf');
}

@font-face 
{
    font-family: 'latoLight';
    src: url('Lato-Light.ttf');
}

html, body, main
{
    height: 100%;
    font-family: lato;
}

.container
{
    width: 100%;
    min-height: 100%;
    height: 100%;
    text-align: center;
}

a 
{
    color:inherit;
    text-decoration: none;
}

//Section one:
main
{
    min-height: 500px;
}

#firstGreenSection
{
    position: relative;
    width: 100%;
    height: 100%; 
    min-height: 500px;
}


.firstSectionContentWrap
{
    position: absolute;
    width: 100%;
    height: 380px;
    text-align: center;
    color: white;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.firstSectionContentWrap2
{
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

#firstGreenSectionBackground
{
    position: absolute;
    height: 100%;  
    width: 100%;
    min-height: 500px;
    background: url("../Images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#firstSectionBackgroundGradient
{
    position: absolute;
    height: 100%;  
    width: 100%;
    min-height: 500px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ec51+0,78be57+100 */
    background: #b4ec51; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ec51 0%, #78be57 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ec51), color-stop(100%,#78be57)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4ec51 0%,#78be57 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ec51', endColorstr='#78be57',GradientType=0 ); /* IE6-9 */
    opacity: 0.9;
}

.firstGreenSectionHeaderWrap
{
    position: relative;
    width: 100%;
    height: 50px;
}

#containerBottomWhiteBorder 
{
    width: auto;
    height: 48px; 
    margin-left: 42px;
    margin-right: 42px;
    border-bottom: 1px solid #FFFFFF;
}

@media screen and (max-width: 767px) 
{
    #containerBottomWhiteBorder
    {
        margin-left: 20px;
        margin-right: 20px;
    } 
}

.firstSectionButton 
{
    position: relative;
    width: 60px;
    height: auto; 
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 30px;
    top: 20px;
    cursor: pointer;
}

.firstSectionTitle 
{
    font-size: 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.firstSectionTitle2 
{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.firstSectionSmallText
{
    position: relative;
    font-family: latoLight;
    font-size: 12px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


#comingSoonText 
{
    position: relative;
    width: 100%;
    text-align: center;
}

#availableInFallText 
{
    position: relative;
    text-align: center;
}

#aboutButton 
{
    float: right;
}

#contactUsButton 
{
    float: right;
}

.appLinkWrapOuter
{
    margin-top: 5px;
    max-width: 100%;
    height: 45px;
    text-align: center;
}

.appLinkWrapInner
{
    position: relative;
    margin: 0 auto;
    width: 204px;
    height: 45px;
}

.appleApp, .googleApp
{
    float: left;
    background: white;
    border-radius: 4px;
    opacity: 0.4;
}

.appleApp
{
    margin-right: 20px;
    opacity: 1;
    cursor: pointer;
}

.firstSectionArrowWrap
{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    text-align: center;
}

.scrollButtonOutline
{
    position: relative;
    width: 30px;
    height: 40px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    cursor: pointer;
}

.scrollButton
{
    position: relative;
    width: auto;
    height: 20px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 6px;
}

.socialImgTop
{
    margin-top: 20px;
    float: right;
    cursor: pointer;
}

//Section two:
.secondSectionWrap
{
    position: relative;
    width: 100%;
    height: 460px; 
    background-color: white;
}

@media screen and (max-width: 767px)
{
    .secondSectionWrap
    {
        height: 920px; 
    } 
}

.secondSectionTitle 
{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.secondSectionContentContainer
{
    position: relative;
    width: 100%;
    height: 460px; 
    text-align: left;
}

.secondSectionTextContainer
{
    position: absolute;
    height: 310px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

@media screen and (max-width: 767px)
{
    .secondSectionTextContainer
    {
        margin-top: 30px;
        text-align: center;
        height: 420px;
    } 
}

.secondSectionAboutParagraph
{
    font-family: latoLight;
    text-align: left;
    font-size: 16px;
}

#appScreenShot
{
    height: 460px;
    text-align: center;
}

.aboutImage
{
    margin-top: 30px;
}

@media screen and (max-width: 767px)
{
    .aboutImage
    {
        margin-top: 20px;
    } 
}

.flag
{
    margin-top: 10px;
    margin-right: 10px;
}

.flag:hover
{
    opacity: .8;
}


//Section three:
.thirdSectionWrap
{
    position: relative;
    max-width: 100%;
    height: 411px; 
}

#thirdGreenSectionBackground
{
    position: absolute;
    height: 460px; 
    width: 100%;
    background: url("../Images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#thirdGreenSectionGradient
{
    position: absolute;
    height: 460px;  
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ec51+0,78be57+100 */
    background: #b4ec51; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ec51 0%, #78be57 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ec51), color-stop(100%,#78be57)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4ec51 0%,#78be57 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ec51', endColorstr='#78be57',GradientType=0 ); /* IE6-9 */
    opacity: 0.9;
}

@media screen and (max-width: 767px) 
{
    .thirdSectionWrap{
        height: 1080px;
    } 
    
    #thirdGreenSectionBackground
    {
        height: 1080px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ec51+0,78be57+100 */
        background: #b4ec51; /* Old browsers */
        background: -moz-linear-gradient(top,  #b4ec51 0%, #78be57 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ec51), color-stop(100%,#78be57)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #b4ec51 0%,#78be57 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ec51', endColorstr='#78be57',GradientType=0 ); /* IE6-9 */
        opacity: 1;
    }
    
    #thirdGreenSectionGradient
    {
        height: 1080px;
        opacity: 0;
    }
}

@media screen and (max-width: 992px) and (min-width: 767px) 
{
    .thirdSectionWrap
    {
        height: 550px;
    } 
    
    #thirdGreenSectionBackground
    {
        height: 550px;
    }
    
    #thirdGreenSectionGradient
    {
        height: 550px;
    }
}

.featureContainerOuter
{
    max-width: 100%;
}

.featureContainerInner
{
    height: 100%;
    margin-top: 100px;
}

@media screen and (max-width: 992px) 
{
    .featureContainerInner
    {
        margin-top: 40px;
    } 
}

.featuresTitle{
    margin-bottom: 1fro0px;
    font-size: 23px;
}

.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featureTextWrap
{
    padding: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

//Section four:

.forthSectionWrap
{
    position: relative;
    max-width: 100%;
    height: 750px; 
}

@media screen and (max-width: 992px) 
{
    .forthSectionWrap
    {
        height: 620px; 
    } 
}

@media screen and (max-width: 767px) 
{
    .forthSectionWrap
    {
        height: 1650px;
    } 
}

.pagesContainerOuter
{
    max-width: 100%;
    height: 672px;    
    text-align: center;
}

@media screen and (max-width: 992px) 
{
    .pagesContainerOuter
    {
        display: none;
    } 
}

.pagesContainerOuterSmall
{
    max-width: 100%;
    height: 672px;    
    text-align: center;
}

@media screen and (max-width: 768px) 
{
    .pagesContainerOuterSmall
    {
        height: 550px;
    } 
}

@media screen and (min-width: 992px) 
{
    .pagesContainerOuterSmall
    {
        display: none;
    } 
}

.pagesImage
{
    margin-top: 90px;
}

@media screen and (max-width: 767px) 
{
    .pagesImage
    {
        margin-top: 50px;
    } 
}

.pagesTextTitle
{
    margin-top: 20px;
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 18px;
}

.pagesText
{
    padding: 20px; 
}

//Fifth section:
.fifthSectionWrap
{
    position: relative;
    width: 100%;
    height: 360px;
}

#fifthSectionBackground
{
    position: absolute;
    height: 360px; 
    width: 100%;
    background: url("../Images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fifthSectionBackgroundGradient
{
    position: absolute;
    height: 360px;  
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ec51+0,78be57+100 */
    background: #b4ec51; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ec51 0%, #78be57 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ec51), color-stop(100%,#78be57)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4ec51 0%,#78be57 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4ec51 0%,#78be57 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ec51', endColorstr='#78be57',GradientType=0 ); /* IE6-9 */
    opacity: 0.9;
}

.fifthSectionContentWrap
{
    position: absolute;
    width: 100%;
    height: 220px;
    text-align: center;
    color: white;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.textFieldAndButtonContainer
{
    position: relative;
    width: 400px;
    height: 40px;
    margin: auto;
    top: 10px; left: 0; bottom: 0; right: 0;
}

#emailSubmttionField
{
    width: 300px;
    height: 35px;
    float: left;
    box-sizing: border-box;
    color: white;
    background: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

@media screen and (max-width: 767px) 
{
    .textFieldAndButtonContainer
    {
        width: 270px;
    }

    #emailSubmttionField
    {
        width: 180px;
    }
}

#submit_email_button
{
    float: right;
    width: 80px;
    height: 35px;
    z-index:2;
    text-align: center;
    top: 260px;
    border-radius: 5px;
    background-color: white;
    line-height: 35px;
    color: #78be57;
    cursor: pointer;
}

#submit_email_button:hover
{
    background: lightgrey;
}

//Sixth section:
.sixthSectionWrap
{
    position: relative;
    width: 100%;
    height: 550px;
}

#sixthSectionBackground
{
    position: absolute;
    height: 550px; 
    width: 100%;
    background: url("../Images/background2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}

#sixthSectionBackgroundGradient
{
    position: absolute;
    height: 550px;  
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    opacity: 0.7;
}

.sixthSectionContentWrap
{
    position: absolute;
    display: table;
    width: 100%;
    max-width: 900px;
    text-align: left;
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
    color: dimgray;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

@media screen and (max-width: 767px) 
{
    .sixthSectionContentWrap
    {
    padding-left: 30px;
    padding-right: 30px;
    }

    .sixthSectionWrap{
        height: 850px;
    } 
    
    #sixthSectionBackground
    {
        height: 850px;
    }
    
    #sixthSectionBackgroundGradient
    {
        height: 850px;
    }
}

@media screen and (max-width: 992px) and (min-width: 767px) 
{
    .sixthSectionWrap{
        height: 600px;
    } 
    
    #sixthSectionBackground
    {
        height: 600px;
    }
    
    #sixthSectionBackgroundGradient
    {
        height: 600px;
    }
}

//Contact section:
.contactSectionWrap
{
    width: 100%;
    height: 350px;
    background: #78be57;
    opacity: 1;
    display: none;
}

@media screen and (max-width: 767px)
{
    .contactSectionWrap
    {
        height: 600px;
    } 
}

.contactInfoWrap
{
    position: relative;
    width: 100%;
    height: 350px;
}

.contactInfoContainer
{
    position: absolute;
    height: 210px;
    width: 205px;
    text-align: left;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.contactInfoTitle
{
    color: white;
    font-size: 20px;
}
.contactInfoText
{
    color: white;
    font-size: 14px;
}

.contactFieldsWrap
{
    position: relative;
    width: 100%;
    height: 350px;
}

@media screen and (max-width: 767px)
{
    .contactInfoWrap
    {
        height: 300px;
    }

    .contactFieldsWrap
    {
        height: 300px;
    }
}

.contactFieldsContainer
{
    position: absolute;
    width: 80%;
    height: 300px;
    color: white;
    font-size: 15px;
    text-align: left;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

@media screen and (max-width: 767px)
{
    .contactFieldsContainer
    {
        text-align: center;
    } 
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

#nameField
{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#emailField
{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    background: transparent;
    color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#commentField
{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    float: left;
    background: transparent;
    height: 120px;
    margin-top: 10px;
    color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    resize: none;
}

@media screen and (max-width: 767px)
{
    #commentField
    {
        width: 100%;
    } 
}

#submit_button
{
    position: relative;
    display: block;
    width: 200px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    line-height: 35px;
    color: #78be57;
    cursor: pointer;
    margin-top:120px;
}

@media screen and (max-width: 767px)
{
    #commentField
    {
        width: 100%;
    } 
    
    #submit_button
    {
        margin-left: auto;
        margin-right: auto;
    }
}

#submit_button:hover
{
    background: lightgrey;
}

//Footer
footer
{
    width: 100%;
    height: 42px;
    background-color: #78be57;
    color: white;
}

@media screen and (max-width: 767px) 
{
    footer
    {
        height: 84px;
    } 
}

.copyRightText
{
    height: 42px;
    font-size: 10px;
    text-align: left;
    margin-left: 42px;
    line-height: 42px;
}

#copyRightTextMobile
{
    margin-left: 0px;
    text-align: center;
}

.footerLinks
{
    height: 42px;
    float: right;
    line-height: 42px;
    cursor: pointer;
}

#footerLinksMobile
{
    float: left;
    margin-left: 20px;
}

.socialMediaWrap
{
    float: right;
}

#socialMediaWrapMobile
{
    margin-right: 20px;
}

.socialImg
{
    text-align: center;
    cursor: pointer;
}

.footerLinks ul
{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0px;
}

.footerLinks li
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}